::root {
  --deep-navy-blue: #0a2239;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  color: #f7f7ff;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #0a2239;
  line-height: 1.3;
  letter-spacing: 1px;
}

p,
li,
table {
  color: #d8cbcb;
}

th:nth-child(odd),
tr:nth-child(odd) {
  border-right: 2px solid #ddd;
}

th,
tr {
  padding: 5px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  cursor: pointer;
  font-weight: bold;
}

hr {
  display: block;
  border: 0;
  border-top: 4px solid white;
  margin-left: 25em;
  margin-right: 25em;
  margin-top: 1.25em;
  padding: 0.5em;
}

#highlight,
#highlight-special {
  color: #f5b841;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.navbar-items {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}

.navbar-items li {
  margin-left: 1rem;
}

.navbar-items a {
  color: #d8cbcb;
}

.profile-picture-navbar {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.cit {
  font-style: italic;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.tit {
  font-family: "Spectral SC", serif;
  font-style: italic;
  color: #f5b841;
}

.presentation-title {
  font-family: "Spectral SC", serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 3em;
}

.hosting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  letter-spacing: 4px;
  margin-bottom: 1em;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 7em 15em 0em 15em;
}

.main-content-cont {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 1rem;
  padding-top: 1rem;
}

.main-content-cont a {
  font-weight: bold;
  text-decoration: underline;
}

.main-content-cont a:hover {
  cursor: pointer;
  font-weight: 800;
}

.main-content-cont li {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.skill-table {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.footer,
.home-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-nav {
  display: none;
}

.footer-items {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-items a {
  color: #d8cbcb;
}

.footer-items li {
  margin-right: 1em;
}

@media screen and (max-width: 1400px) {
  .main-content-container {
    margin: 5em 7em 0em 7em;
  }
  hr {
    margin: 0.75em 12em 0em 12em;
  }
}

@media screen and (max-width: 1200px) {
  .presentation-title {
    font-size: 2em;
  }

  .main-content-container {
    margin: 4em 6em 0em 6em;
  }

  hr {
    margin: 0.75em 7em 0em 7em;
  }
}

@media screen and (max-width: 806px) {
  .presentation-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }

  hr {
    margin: 0.5em 4em 0em 4em;
    border-top: 2px solid white;
  }

  #highlight-special {
    text-decoration: underline;
    font-weight: 800;
  }

  .presentation-title {
    font-size: 1.15em;
  }

  .navbar {
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    padding: 0.5rem;
  }

  .navbar-items {
    display: none;
  }

  .main-content-container {
    margin: 2em 3em 0em 3em;
  }

  .home-nav {
    display: flex;
    margin-top: 2em;
    font-size: 14px;
    font-family: "Muli", sans-serif;
    font-style: normal;
    color: #d8cbcb;
  }

  .hosting {
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
  }

  .footer-items li {
    margin-right: 0.5em;
    padding-bottom: 0.3em;
  }
}
